{% extends 'slides/layout/normal-slide.twig' %}
{% block title 'About Me' %}
{% block footer 'Introduction' %}

{% block content %}
    <p>
        Academic:<br />
    <ul>
        <li>BA in Political Sci. &amp; Int. Relations from Bosphorus Univ.</li>
        <li>BS in CS from Oregon State Univ.</li>
        <li>MSCS Student @ Georgia Tech. (Specialization: Systems)</li>
    </ul>
    </p>

    <p>
        Interests:<br />
    <ul>
        <li>Distributed Algorithms</li>
        <li>Computability &amp; Complexity</li>
    </ul>
    </p>

    <p>
        Social Media:<br />
    <ul>
        <li>@farazdagi<strong style="float: right;">(буду рад ответить на все вопросы по презентации)</strong></li>
        <li>github.com/farazdagi</li>
    </ul>
    </p>
{% endblock %}

{% block notes %}
    <p style="text-align: center; font-size: 1.3em;">
        @farazdagi
    </p>
{% endblock %}
