{% extends 'slides/layout/normal-slide.twig' %}
{% block title 'Sample Application Setup' %}
{% block style 'biggest' %}
{% block footer 'Introduction' %}

{% block content %}
    <ul class="build fade">
        <li>Setup is done using Vagrant + Ansible</li>
        <li>
            3 nodes, 3 separate protection domains
            <ul>
                <li>App Server</li>
                <li>DB Server</li>
                <li>API Server</li>
            </ul>
        </li>
    </ul>
{% endblock %}
