{% extends 'slides/layout/normal-slide.twig' %}
{% block title 'Presentation Outline' %}
{% block style 'biggest' %}
{% block footer 'Introduction' %}

{% block content %}
    <ul class="build fade">
        <li>AngularJS Overview</li>
        <li>REST: Refresher Course</li>
        <li>Use Case in Focus: Authentication</li>
        <li>Common Problems (with Solutions)</li>
        <li>Concluding Remarks</li>
    </ul>
{% endblock %}
