{% extends 'slides/layout/normal-slide.twig' %}
{% block title 'HATEOAS' %}
{% block style 'bigger' %}
{% block footer 'Part 2: REST Refresher Course' %}

{% block content %}
    <ul>
        <li>HATEOAS := Hypertext As The Engine Of Application State.</li>
        <li>State machine with no prior knowledge of possible states.</li>
        <li>Crucial part of Uniform Interface constraint.</li>
        <li>Almost totally ignored by all API providers (this slowly changes).</li>
    </ul>
{% endblock %}
