{% extends 'slides/layout/normal-slide.twig' %}
{% block title 'Thinking in Resources' %}
{% block style '' %}
{% block footer 'Part 2: REST Refresher Course' %}

{% block content %}
    <ul cclass="build fade">
        <li>Resource := type + associated data + relationships + methods</li>
        <li>Resource Types</li>
        <li>
            Resources and Identifiers
            <ul>
                <li>URIs &amp; URLs</li>
            </ul>
        </li>
        <li>
            Resources and Representations
        </li>
        <li>
            Representation Encoding Formats:
            <ul>
                <li>JSON</li>
                <li>XML</li>
            </ul>
        </li>
        <li>Resource Relationships</li>
    </ul>
{% endblock %}
