{% extends 'slides/layout/normal-slide.twig' %}
{% block title 'Brief History of REST' %}
{% block style 'bigger' %}
{% block footer 'Part 2: REST Refresher Course' %}

{% block content %}
    <ul cclass="build fade">
        <li>Fielding's dissertation <div style="float: right; font-size: 0.6em;">sorry, I know that everybody mentions it!</div></li>
        <li>
            Some ACM papers stats (not very representative!):
            <ul>
                <li><code>REST</code> keyword is in 200K+ papers</li>
                <li><code>RESTful</code> keyword is in 2K+ papers</li>
            </ul>
        </li>
        <li>
            Many books on topic (both from academic - hello Prof. Pautasso - and expert perspectives)
        </li>
        <li>
            Countless of talks, presentations, and tutorial sessions (not that amazing as this one!).
        </li>
    </ul>
{% endblock %}
