<slide class="fill nobackground" style="background-image: url({% block url %}{% endblock %})">
    <hgroup>
        <h2 class="{% block style %}white{% endblock %}">{% block title %}{% endblock %}</h2>
    </hgroup>
    <footer class="source white">{% block source %}{% endblock %}</footer>
    <aside class="note">
        <section>
            {% block notes %}{% endblock %}
        </section>
    </aside>
</slide>
