<slide class="segue dark nobackground">
    <aside class="gdbar"><img src="images/logo.png"></aside>
    <hgroup class="auto-fadein">
        <h3>{% block subtitle %}{% endblock %}</h3>
        <h2>{% block title %}{% endblock %}</h2>
    </hgroup>
</slide>
