<slide>
    <hgroup>
        <h2>Slide with Image (Centered horz/vert)</h2>
    </hgroup>
    <article class="flexbox vcenter">
        <img src="http://vasya-lozhkin.ru/media/paintings/morskie-svinky.jpg" height="600px" alt="Description" title="Description">
        <footer class="source">source: place source info here</footer>
    </article>
</slide>
