<slide>
    <hgroup>
        <h2>Slide with Image</h2>
    </hgroup>
    <article>
        <img src="images/chart.png" class="reflect" alt="Description" title="Description">
        <footer class="source">source: place source info here</footer>
    </article>
</slide>
