{% extends 'slides/layout/normal-slide.twig' %}
{% block title 'Top 5 Killer Features of AngularJS' %}
{% block style 'bigger' %}
{% block footer 'Part 1: AngularJS Overview' %}

{% block content %}
    <ul class="build fade">
        <li>Modularity</li>
        <li>Dependency Injection</li>
        <li>Data binding</li>
        <li>REST $resource</li>
        <li>Amazing use of Promises API</li>
    </ul>
{% endblock %}
