{% extends 'slides/layout/normal-slide.twig' %}
{% block title 'Part1' %}
{% block style 'biggest' %}
{% block footer 'Part 4: Common Problems' %}

{% block content %}
    <ul class="build fade">
        <li>Request Limits</li>
        <li>API Documentation</li>
        <li>Transactions</li>
        <li>Race Conditions</li>
    </ul>
{% endblock %}
