{% extends 'slides/layout/normal-slide.twig' %}
{% block title 'About Me' %}
{% block footer '' %}

{% block content %}
    <p style="font-size: 1.4em;padding-top: 80px;">
    Victor Farazdagi (<a href="https://twitter.com/farazdagi">@farazdagi</a>):<br />
    <ul style="font-size: 1.2em;line-height: 1.4em;">
        <li>MSCS Student @ Georgia Tech. (Specialization: Systems)</li>
        <li>Chef Engineer @ Square Labs</li>
    </ul>
    </p>

    <img style="position: absolute; bottom: 90px; right: 200px; width: 160px;" src="images/square-labs-logo.png" />
    <img style="position: absolute; bottom: 90px; left: 200px; width: 160px;" src="images/gatech.gif" />
{% endblock %}

{% block notes %}
    <p>
        Academic:<br />
    <ul>
        <li>BA in Political Sci. &amp; Int. Relations from Bosphorus Univ.</li>
        <li>BS in CS from Oregon State Univ.</li>
        <li>MSCS Student @ Georgia Tech. (Specialization: Systems)</li>
    </ul>
    </p>

    <p>
        Interests:<br />
    <ul>
        <li>Distributed Algorithms</li>
        <li>Computability &amp; Complexity</li>
    </ul>
    </p>

    <p>
        Social Media:<br />
    <ul>
        <li><a href="https://twitter.com/farazdagi">@farazdagi</a></li>
        <li>github.com/farazdagi</li>
    </ul>
    </p>
{% endblock %}
