{% extends 'slides/layout/normal-slide.twig' %}
{% block title 'Архитектура' %}
{% block style 'bigger' %}
{% block footer 'Часть 1: Цели и Задачи CoreOS' %}

{% block content %}
    <img style="position: absolute; top: 160px; left: 50px; width:450px;" src="images/coreos-arch.png" />
    <div class="build">
    <img style="position: absolute; top: 160px; right: 50px;" src="images/redesigned-split.png" />
    </div>
{% endblock %}
