{% extends 'slides/layout/normal-slide.twig' %}
{% block title 'cloud-config' %}
{% block style 'bigger' %}
{% block footer 'Часть 1: Обзор CoreOS' %}

{% block content %}
<p class="smallest">
Cloud-config is intended to bring up a cluster of machines into a minimal useful state and ideally shouldn't be used
to configure anything that isn't standard across many hosts.
</p>
    <ul class="smaller">
        <li>Configuration in YAML</li>
        <li>Configuration is parsed and corresponsing systemd unit files are generated.</li>
        <li>Allows you to setup:
            <ul>
                <li>Discovery parameters</li>
                <li>Configure systemd units</li>
                <li>Network</li>
                <li>SSH keys and Users</li>
            </ul>
        </li>
    </ul>
    <img style="position: absolute; bottom: 60px; right: 50px; width: 350px;" src="images/cloud-config-function.png" />
{% endblock %}

{% block notes %}
<ul>
    <li><a href="https://www.digitalocean.com/community/tutorials/how-to-set-up-a-coreos-cluster-on-digitalocean">Setting up CoreOS cluster on DO</a></li>
</ul>
{% endblock notes %}
