{% extends 'slides/layout/normal-slide.twig' %}
{% block title 'Clustering Approaches' %}
{% block style 'bigger' %}
{% block footer 'Cluster Setup &amp; Configuration' %}

{% block content %}
<div class="build">
    <img style="position: absolute; top: 160px; right: 50px; width: 350px;" src="images/etcd-on-all-nodes.png" />
    <img style="position: absolute; bottom: 80px; right: 50px; width: 400px;" src="images/etcd-testing-cluster.png" />
    <img style="position: absolute; top: 160px; left: 50px; width: 550px;" src="images/etcd-nodes.png" />
</div>
{% endblock %}
