{% extends 'slides/layout/normal-slide.twig' %}
{% block title 'fleet overview' %}
{% block style 'bigger' %}
{% block footer 'Running Services in CoreOS Clusters' %}

{% block content %}
    <ul>
        <li>tool that controls systemd at the cluster level</li>
        <li>normal systemd unit files + few fleet-specific properties</li>
    </ul>
    <img style="position: absolute; bottom: 80px; left: 200px; width: 600px;" src="images/fleet-architecture.png" />
{% endblock %}
