{% extends 'slides/layout/normal-slide.twig' %}
{% block title 'Смена парадигмы' %}
{% block style 'biggest' %}
{% block footer 'Часть 1: Цели и Задачи CoreOS' %}

{% block content %}
    <p style="padding-top:150px;font-size:1.2em;line-height:1.2em;text-align:center;">
        What can we do to improve the security of the Internet?
    </p>
    <img style="position: absolute; top: 80px; right: 50px; width: 300px;" src="images/use-browser-experience.png" />
{% endblock %}
{% block notes %}
    <ul>
        <li>CoreOS Mission: Secure the internet</li>
        <li>Let's use browsers' experience (automatic updates)</li>
        <li>Alex Polvi: Ethos of CoreOS</li>
    </ul>
    <!--<img style="position: absolute; top: 80px; right: 50px; width: 200px;" src="images/small-cluster.png" />-->
{% endblock %}
