{% extends 'slides/layout/normal-slide.twig' %}
{% block title 'Sample Application Setup' %}
{% block style 'biggest' %}
{% block footer 'Introduction' %}

{% block content %}
    <ul>
        <li>Small Cluster (3-9 nodes)</li>
        <li>Round-robin load balancer</li>
        <li>
            Apps redundantly distributed for HA
        </li>
    </ul>
    <img style="position: absolute; top: 80px; right: 50px; width: 200px;" src="images/small-cluster.png" />
{% endblock %}

{% block notes %}
    <ul>
        <li>Step-by-step instruction on how to TRY various CoreOS components</li>
    </ul>
{% endblock %}
