{% extends 'slides/layout/normal-slide.twig' %}
{% block title 'Warehouse-scale Machine' %}
{% block style 'bigger' %}
{% block footer 'CoreOS: Mission &amp; Goals' %}

{% block content %}
    <ul>
        <li>Clusters</li>
        <li>Redundancy and HA</li>
    </ul>
    <img style="position: absolute; top: 270px; left: 70px; width: 300px;" src="images/cpu-evolution.png" />
    <img style="position: absolute; top: 150px; right: 50px; width: 500px;" src="images/warehouse-scale-machine.png" />
{% endblock %}
