{% extends 'slides/layout/normal-slide.twig' %}
{% block title 'Warehouse-scale Machine' %}
{% block style 'bigger' %}
{% block footer 'Часть 1: Цели и Задачи CoreOS' %}

{% block content %}
    <ul>
        <li>Clusters</li>
        <li>Redundancy and HA</li>
    </ul>
    <img style="position: absolute; top: 250px; left: 50px; width: 400px;" src="images/warehouse-scale-machine.png" />
    <img style="position: absolute; top: 120px; right: 50px; width: 400px;" src="images/cpu-evolution.png" />
{% endblock %}
