{% extends 'slides/layout/normal-slide.twig' %}
{% block title 'So why containers?' %}
{% block style 'bigger' %}
{% block footer 'OS-level Virtualization aka Containerization' %}

{% block content %}
    <h1 style="margin-top: 200px;text-align: center;" class="build">Because they are fast, portable and lightweight.</h1>
    <img style="position: absolute; bottom: 60px; right: 50px; width: 350px;" src="images/what-about-security.png" />
{% endblock %}

{% block notes %}
Granted we have problems, like security, but those problems are solvable.
{% endblock %}
