{% extends 'slides/layout/normal-slide.twig' %}
{% block title 'Part1' %}
{% block style 'biggest' %}
{% block footer 'Part 4: Common Problems' %}

{% block content %}
    <ul class="build fade">
        <li>Implementing CORS</li>
        <li>Content Negotiation</li>
        <li>API Versioning</li>
        <li>Pagination</li>
        <li>Queries</li>
    </ul>
{% endblock %}
