{% extends 'slides/layout/normal-slide.twig' %}
{% block title 'Challenges' %}
{% block style 'bigger' %}
{% block footer 'Part 3: Case in Focus' %}

{% block content %}
    <ul class="build">
        <li>Authentication is really hard (I MEAN it)</li>
        <li>Browser restrictions</li>
        <li>Plethora of competing specs</li>
        <li>Keeping private keys private</li>
        <li>Use standards, auth is not a nice sandbox for creativity</li>
    </ul>
{% endblock %}
