{% extends 'slides/layout/normal-slide.twig' %}
{% block title 'Implementation Details' %}
{% block style '' %}
{% block footer 'Part 3: Case in Focus' %}

{% block content %}
    <h3>Methods:</h3>
    <ul>
        <li>POST http://your.api.com/authentication for login</li>
        <li>DELETE http://your.api.com/authentication for logout</li>
    </ul>
    <h2>Show some code!</h2>
{% endblock %}
