{% extends 'slides/layout/normal-slide.twig' %}
{% block title 'OAuth' %}
{% block style 'bigger' %}
{% block footer 'Part 3: Case in Focus' %}

{% block content %}
    <ul cclass="build fade">
        <li>Access granting protocol</li>
        <li>
            Principle specs:
            <ul>
                <li>OAuth 2.0 Authorization Framework (RFC6749)</li>
                <li>OAuth 2.0 Authorization Framework: Bearer Token usage (RFC6750)</li>
            </ul>
        </li>
        <li>OAuth 2.0 Specification got so complicated that one of its principle authors resigned in process!</li>
    </ul>
{% endblock %}
