{% extends 'slides/layout/normal-slide.twig' %}
{% block title 'Bearer Token Authentication' %}
{% block style 'smaller' %}
{% block footer 'Part 3: Case in Focus' %}

{% block content %}
    <h3>What if we are not interested in:</h3>
    <ul cclass="build fade">
        <li>decentralization</li>
        <li>authenticating using 3rd party OpenID Providers</li>
    </ul>
    <h3>Are happy with:</h3>
    <ul>
        <li>plain old username/password type of authentication (at least for the first release)</li>
    </ul>

    <h3>Don't want to:</h3>
    <ul>
        <li>deal with the complexity associated with correct integration of OpenID Connect</li>
        <li>to implement complex Authorization Server (granting access to resource using scopes etc), all we need is access (and user role is associated dynamically on server)</li>
    </ul>
{% endblock %}
