{% extends 'slides/layout/normal-slide.twig' %}
{% block title 'Tools Infrastructure' %}
{% block style 'bigger' %}
{% block footer 'Part 1: AngularJS Overview' %}

{% block content %}
    <ul cclass="build fade">
        <li>
            Yeoman:
            <ul>
                <li>yo - scaffolding tool</li>
                <li>bower - package management</li>
                <li>grunt - the build tool</li>
            </ul>
        </li>
        <li>
            Jasmine + Karma for testing.
        </li>
        <li>
            Batarang chrome extension.
        </li>
    </ul>
{% endblock %}

{% block notes %}
    <ul>
        <li>yo angular - will take some time to setup correctly.</li>
    </ul>
{% endblock %}
