{% extends 'slides/layout/normal-slide.twig' %}
{% block title 'Promises: Avoid Callback Hell' %}
{% block style '' %}
{% block footer 'Part 1: AngularJS Overview' %}

{% block content %}
    <h3>Aggregating promises:</h3>
    <pre class="prettyprint" data-lang="javascript">
var first  = $http.get("/app/data/first.json"),
    second = $http.get("/app/data/second.json"),
    third  = $http.get("/app/data/third.json");

$q.all([first, second, third]).
    then(function(result) {
      var tmp = [];
      angular.forEach(result, function(response) {
        tmp.push(response.data);
      });
      return tmp;
    }).
    then(function(tmpResult) {
      $scope.combinedResult = tmpResult.join(", ");
    });</pre>
{% endblock %}
