{% extends 'slides/layout/normal-slide.twig' %}
{% block title 'Callback Hell' %}
{% block style '' %}
{% block footer 'Part 1: AngularJS Overview' %}

{% block content %}
    <h3>Problem: Synchronize multiple asynchronous functions.</h3>
    <h3>Solution (sort of):</h3>
    <pre class="prettyprint" data-lang="javascript">
// see http://fdietz.github.io/recipes-with-angular-js
// for more amazing examples
tmp = [];
$http.get("/app/data/first.json").success(function(data) {
  tmp.push(data);
  $http.get("/app/data/second.json").success(function(data) {
    tmp.push(data);
    $http.get("/app/data/third.json").success(function(data) {
      tmp.push(data);
      $scope.combinedNestedResult = tmp.join(", ");
    });
  });
});</pre>
{% endblock %}
