{% extends 'slides/layout/normal-slide.twig' %}
{% block title 'REST Support - $http' %}
{% block style 'smaller' %}
{% block footer 'Part 1: AngularJS Overview' %}

{% block content %}
    <h3>Nothing fancy (on surface):</h3>
    <pre class="prettyprint" data-lang="javascript">
$http({method: 'GET', url: '/someUrl'}).
    success(function(data, status, headers, config) {
      // this callback will be called asynchronously
      // when the response is available
    }).
    error(function(data, status, headers, config) {
      // called asynchronously if an error occurs
      // or server returns response with an error status.
    });</pre>
    <h3>Until we realize that <code>$http</code> returns promise:</h3>
    <pre class="prettyprint" data-lang="javascript">
var responsePromise = $http.get('/someUrl');
responsePromise.
    then(function (response) { // promise resolved
      $scope.data = response.foo;
    }, function (reason) { // promise rejected
      throw new Error(reason);
    });</pre>
{% endblock %}
