{% extends 'slides/layout/image-slide.twig' %}
{% block title '' %}
{% block style 'white' %}
{% block url 'images/cape-buffalo.jpg' %}
{% block source 'http://thatguywiththeglasses.com/blogs/latest/entry/dangerous-creatures-cape-buffalo' %}
{% block notes %}
    <h2>How to stop a charging buffalo?</h2>

{% endblock %}

