{% extends 'slides/layout/normal-slide.twig' %}
{% block title 'OpenID 1.0, 1.1 + OpenID 2.0' %}
{% block style 'bigger' %}
{% block footer 'Part 3: Case in Focus' %}

{% block content %}
    <ul class="build fade">
        <li>OpenID is about Authentication</li>
        <li>Defines protocol between RPs and IdPs</li>
        <li>OpenID provides a way to prove that an End User owns an Identity URL.</li>
        <li>No password, email address, or anything is passed around.</li>
        <li>Completely decentralized i.e. anyone can be a Consumer or Identity Provider.</li>
        <li>OBSOLETE!</li>
    </ul>

{% endblock %}
