{% extends 'slides/layout/normal-slide.twig' %}
{% block title 'Same Origin Policy' %}
{% block style 'bigger' %}
{% block footer 'Part 3: Case in Focus' %}

{% block content %}
    <h3>Possible Solutions:</h3>

    <ul class="build fade">
        <li>JSONP</li>
        <li>Proxy</li>
        <li>CORS (Cross Origin Resource Sharing)</li>
    </ul>
{% endblock %}
