{% extends 'slides/layout/normal-slide.twig' %}
{% block title 'Client/Server: Communicating secrets' %}
{% block style '' %}
{% block footer 'Part 3: Case in Focus' %}

{% block content %}
    <h3>Possible ways to communicate secret from client to server:</h3>
    <ul>
        <li>HTTPS + BASIC authentication ("Authorization: Basic ..." header in each request)</li>
        <li>Signing requests Amazon-style ("Authorization: AWS ... " header in each request)</li>
        <li>OAuth: acquire Access Token, include that and a bunch of other parameters in each request</li>
        <li>Cookie that stores session key ("Cookie: ... " header in each request)</li>
        <li>Signed cookie that stores session information in the cookie itself</li>
    </ul>
{% endblock %}
