{% extends 'slides/layout/normal-slide.twig' %}
{% block title 'What we will cover' %}
{% block style '' %}
{% block footer 'Part 1: Introduction' %}

{% block content %}
    <p>WILL cover:</p>
    <ul>
        <li>REST basics (very short refresher)</li>
        <li>Introduction to AngularJS</li>
        <li>How to build RESTful back-end for the AngularJS App</li>
        <li>Some rather advanced REST concepts</li>
        <li>How to solve common implementation problems</li>
    </ul>
    <p>WILL NOT cover:</p>
    <ul>
        <li>Best practices for SPAs</li>
        <li>AngularJS advanced concepts</li>
    </ul>
{% endblock %}

{% block notes %}
{% endblock %}
